:root {
  --text: #f1f7fb;
  --text-muted: #52656d;
  --text-dark: #131f24;
  --background: #131f24;
  --border: #37464f;
  --primary: #49c0f8;
  --primary-muted: #3b9ecc;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: lowercase;
}

html, body {
  background: var(--background);
  color: var(--text);
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
}

.actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid var(--border);
}

.actions .container {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 2rem 0;
}

h3 {
  margin: 1rem 0;
}

h2 {
  opacity: 0;
  margin-top: 15%;
  font-weight: normal;
  transition: opacity 200ms ease;
  font-size: 2.5rem;
}

h2 span {
  font-weight: bold;
}

button {
  color: var(--background);
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transform: translateY(-2px);
  font-weight: bold;
}

button:active {
  transform: translateY(0px);
  box-shadow: 0 0 0 transparent !important;
}

button#refresh {
  color: var(--text-dark);
  background: var(--primary);
  border: 2px solid var(--primary-muted);
  box-shadow: 0 2px 0 var(--primary-muted);
}

button#toggle {
  color: var(--text-muted);
  background: var(--background);
  border: 2px solid var(--border);
  box-shadow: 0 2px 0 var(--border);
}

